body {
    background-color: black;
    color: #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color:#290c2e;
}

h1 {
    padding: 10px 0 10px 25px;
    font-family: 'Bigelow Rules', cursive;
    font-weight: lighter;
    font-size: 500%;
}

li {
display: inline;
padding: 25px;
}

a {
    text-decoration: none;
    color: #dc9ae6;
    font-weight: bold;
}

.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(./images/sequins-3944452_1280.jpg);
    background-size: cover;
    background-position: center;
    border-top: 3px solid rgb(29, 29, 29);
    border-bottom: 3px solid rgb(29, 29, 29);
}

#headshot {
    border-radius: 100%;
    width: 200px;
    float: right;
    margin: 0 25px 0 25px;
    border: 3px solid rgb(29, 29, 29);
}

h2 {
    font-family: 'Bigelow Rules', cursive;
    font-weight: lighter;
    font-size: 350%;
    color: #dc9ae6;
    padding: 25px;
    display: inline;
}

.bio {
    padding: 50px 25px;
    border-left: 3px solid #dc9ae6 ;
    width: 700px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#about {
    flex: auto;
    display: flex;
    flex-direction: row;
}

#about h2 {
    flex: 0 0 25%;
}

#about p {
    flex: 0 0 75%;
}

#work {
    flex: auto;
    display: flex;
    flex-direction: row;
}

#work h2 {
    flex: 1 1 25%;
}

#projects {
    padding: 50px 25px;
    border-left: 3px solid #dc9ae6 ;
    flex: 0 0 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#projects h3 {
    font-size: larger;
    background-color: #ccc;
    color: rgb(29, 29, 29);
}



#large-thumb {
    flex: 0 0 2;
    border: 3px solid #ccc;
    margin: 5px;
}

#large-thumb img {
    width: 1010px;
}

.thumbnail {
    flex:1 1 1;
    border: 3px solid #ccc;
    margin: 0 0 5px 5px;
}

.thumbnail img {
    width: 500px;
}

#contact {
    display: flex;
    flex-direction: row;
}

#contact h2 {
    flex: auto;
    flex: 0 0 25%;
}

#contact ul {
    flex: 0 0 75%;
    padding: 50px 25px;
    border-left: 3px solid #dc9ae6 ;
    width: 700px;
    display: inline;
}

